<h1>
  <strong> URLs associated with an identifier, sorted by frequency </strong>
</h1>
<% sorted_urls.each do |url| %>
<ul>
  <li>
    <strong> frequency: </strong> <%= url[1]%>, <strong> Url: </strong> <%= url[0] %>
  </li>
</ul>
<% end %>
</body>
