<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Traffic Spy</title>
    <link href="<%= url('bootstrap.min.css') %>" rel="stylesheet">
    <link href="<%= url('brandon.css') %>" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
